/* global animation */
@keyframes FadeIn {
	from {
		opacity: 0;
		visibility: hidden;
	}
	to {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes slideDown {
	from {
		transform: translateY(-300px);
	}
	to {
		transform: translateY(0px);
	}
}

@keyframes slideUp {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0px);
	}
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}
/* logo animations */

.logo, .contactus {
	animation: fadeIn .5s, slideDown .5s;
}

.header, .projects, .badges, .skills, .footer {
	animation: slideUp .75s;
}
.contactus {
	transition: all 0.25s;
}

/*Button Animation*/
.contactus a {
-webkit-transition: all .3s;
transition: all .3s;
}

/* facebook animation */

.facebook {
	animation: pulse .5s forwards;
}