/* main.css */
html, body, h1, h2, h3, h4, p, div, ol, ul, li {
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 100%;

}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header h1 {
  position: relative;

}
h1 {
	font-size: 70px;
	font-weight: bold;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}
h2 {
	font-size: 30px;
	font-weight: 100;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	color: #ffffff;
	width: 700px;
	margin: 0 auto;
}
h2 strong {
	font-weight: 400;
}
.header {
	background-color: #1E0571;
	}
.header h1 {
	color: #ffffff;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
	

}

.projects h3, .badges h3, .skills h3 {
	 text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
h3 {
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	border-bottom: 1px solid #555555;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	margin: 20px 0 20px 0;
}
p {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
}

.tagline {
	background-color: #000000;
	padding: 20px 0 20px 0;
	position: relative;
}
.tagline h2:hover {
       -webkit-box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75);
box-shadow: 0px 0px 15px 10px rgba(255, 255, 255, .75);
}

.logo:hover {
	transform: skew(-10deg);
	border: 3px dotted #3a7999;
	color: #3a7999;
	background: rgba(0,0,0,0);
	}

.logo {
	float: left;
	height: 135px;
	margin-left: 75px;
	position: absolute;
	bottom: 4.0px;
	border: 3px solid #3a7999;
	
}
.contactus {
	float: right;
	margin-right: 100px;
	position: absolute;
	bottom: 100px;
}

.facebook {
	float: right;
	margin-right: -200px;
	position: relative;
	top: -50px;
}
.projects, .badges, .footer, .skills {
	width: 640px;
	margin: 0 auto;
}
.projects ul, .badges ul, .skills ul {
	list-style-type: none;
}
.projects li, .badges li, .skills li {
	margin-bottom: 10px;
}
.badges img {
	display: block;
	margin: auto;
}

.badges p {
	text-align: center;
}
.skills li {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	background-color: #e25716;
	font-weight: bold;
	color: #cccccc;
	display: all;
	margin-right: 10px;
	line-height: 200%;
	font-size: 20px;
}
.footer {
	background-color: #999999;
	text-align: center;
	padding: 20px 0 20px 0;
	width: auto;
}
a {
	text-decoration: none;
	color: #000000;
}
a:hover {
	color: #aa0000;
	text-decoration: underline;
}

/* button */

.contactus {
background: #ffffff;
border-bottom: 4px solid rgba(0, 0, 0, 0.1);
border-radius: 40px;
border: 0;
color: #ffffff;
cursor: pointer;
display: inline-block;
font-weight: bold;
line-height: 0;
overflow: hidden;
padding: 0 2.5em;
position: relative;
}
.contactus:active, .contactus:focus, .contactus:hover {
background: #ffffff;
color: #ffffff;
}
.contactus {
background: #1E0571;
line-height: 2.5;
}
.contactus:active, .contactus:focus, .contactus:hover {
background: #3b0be8;
color: #fff;
}
.contactus[disabled] {
opacity: 0.4;
}
.contactus[disabled]:active, .contactus[disabled]:focus, .contactus[disabled]:hover {
background: #92539f;
color: #fff;
}
}


